.card {
  padding: 0.3rem 0;
  position: relative;
}

.card-image img {
  max-width: 100%;
  border-radius: 10px;
}

.favorite-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3%;
  z-index: 1;
}
.card-footer__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.card-header {
  margin: 0;
  font-size: 0.9rem;
}

.card-price {
  margin: 0;
  opacity: 50%;
  font-size: 0.7rem;
  padding-top: 0.2rem;
}

.card-footer__block-buttons {
  display: flex;
  justify-content: space-between;
}
