.navbar {
  position: sticky;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navbar-right {
  display: flex;
  width: 8%;
  justify-content: space-between;
}

.navbar-right__quantity {
  padding-left: 5px;
  color: white;
}
